@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

/* begin RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
}

/* end RESET */

/* utility classes */

.nowarp {
  white-space: nowrap;
}

.offscreen {
  position: absolute;
  left: -10000px;
}

/* end utility classes */

body {
  font-family: "Nunito", sans-serif;
  min-height: 100vh;

  /* background-color: aliceblue; */
  /* background-image: url("../img/bubbles.png"),
    linear-gradient(to left, steelblue, #fff);
  background-repeat: repeat-y, no-repeat;
  background-position: right, center;
  background-size: 20%, auto; */

  background: right/20% repeat-y url("../img/bubbles.png"),
    center/auto no-repeat linear-gradient(to left, steelblue, #fff);
}

.container {
  background-color: rgb(244, 231, 150);
  background-image: url(../img/map-2176x1451.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.hero {
  border-bottom: 1px solid rgb(0, 0, 0);
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;

  background-color: hsla(0, 0%, 100%, 0.355);
}

.h1 {
  font-size: 150%;
  color: aliceblue;
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
  /* background-color: hsla(0, 0%, 0%, 0.492);
  padding: 2rem;
  border-radius: 10px; */
}

.profile-pic-figure {
  width: 35%;
}

.profile-pic-figure img {
  width: 100%;
  height: auto;
  min-width: 100px;
  border: 2px double rgb(228, 245, 187);
  border-radius: 50%;
}

.example {
  border: 1px solid red;
}

.clip {
  text-align: center;
  font-weight: 800;
  font-size: 20rem;
  text-transform: uppercase;

  background-image: url("../img/scenic-2200x1331.png");
  background-position: center;
  background-size: 100%;

  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
